<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>Upload#new</h1>
<%=form_tag "create", :method=>"POST", :multipart => true do %>
File UUID:<input type="text" id="fid"/><br/>
Version:<input type="text" id="version"/><br/>
Digest:<%= text_field_tag "digest" %><br/>
Note:<%= text_area_tag "note" %><br/>
ChooseFile:<%= file_field_tag "file" %><br/>
<input type="button" onclick="doSubmit()" value="Submit"/>
<% end %>
<script>
var action;
$(function(){
  action = $("form").attr("action");
});

function doSubmit() {
  $("form").attr("action", action+"/"+$("#fid").val()+"/"+$("#version").val()).submit();
}
</script>
</body>
</html>

